Importing the Dependicies

In [1]:
import pandas as pd     #for Creating dataframe
import numpy as np      #to create Numpy arrays or lists
from sklearn.model_selection import train_test_split #to split original data into training and test data
from sklearn.linear_model import LogisticRegression  #to create model
from sklearn.metrics import accuracy_score  #to evaluate our model

Data Collection and Processing

In [2]:
# loading the csv data to a pandas dataFrame or structured tables


heart_data = pd.read_csv('/content/data.csv')

In [5]:
#Printing first 5 rows of the data

heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [6]:
#last 5 rows of the data sets

heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [8]:
#the number of rows and colmuns in the data sets

heart_data.shape
#rows,col

(1025, 14)

In [10]:
#getting some info about the data

heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [14]:
# checking for Missing values

heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [15]:
#stastical measures about the data

heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [20]:
# checking the distribution of target variable

heart_data['target'].value_counts()

#1 represents : 526 Heart disease
#0 represents : 499 with no disease

1    526
0    499
Name: target, dtype: int64

splitting the features and target(result)

In [23]:
x = heart_data.drop(columns='target', axis=1)
y = heart_data['target']

In [24]:
print(x) #features

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [25]:
print(y) #target(result)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

Splitting the data into Training and Test data

In [27]:
x_train , x_test ,y_train, y_test = train_test_split(x,y,test_size = 0.2, stratify=y , random_state = 2)
#0.2 = 20% of data as test data, 80% of data as train data

In [31]:
print(x.shape , x_train.shape , x_test.shape)
     #100% rows      80% rows            20% rows

(1025, 13) (820, 13) (205, 13)

Model Training using Logistic regression ( Specially for Binary Classification )

In [32]:
model = LogisticRegression()

In [ ]:
#training the logistic regression model with training data

model.fit(x_train , y_train)

Model Evaluation

Accuracy Score

In [36]:
# accuracy on the training data

x_train_pred = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_pred , y_train)

In [38]:
print( 'Accuracy on Training Data :', training_data_accuracy)

Accuracy on Training Data : 0.8524390243902439

In [39]:
# accuracy on the test data

x_test_pred = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_pred , y_test)

In [40]:
print( 'Accuracy on Test Data :', test_data_accuracy)

Accuracy on Test Data : 0.8048780487804879

Building the Predictive system

In [53]:
input_data = (53,1,0,140,203,1,0,155,1,3.1,0,0,3)
 #53,1,0,140,203,1,0,155,1,3.1,0,0,3 these are all features taken from dataset and its ouptup should be 0: No disease , lets see what our model predicts

 #change the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

 #reshaping the numpy array as we are predicting for only one instance
input_data_reshaped =  input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

print(prediction)
#prints 0 so our model is predicting right
if(prediction[0]==0):
   print('This Person Does Not have Heart Disease')
else:
   print('This Person has Heart Disease')




#can also check for the below Data of another Patient it will give Heart Disease
# 50,0,1,120,244,0,1,162,0,1.1,2,0,2 = > 1 : With heart Disease

[0]
This Person Does Not have Heart Disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(